atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery
atom.symlink/nohup.out

git/gitconfig.local.symlink

plover/config$plover.symlink/.cache
plover/config$plover.symlink/plugins
plover/config$plover.symlink/*.log*
plover/config$plover.symlink/clippy_2.org
