"*":
  "asciidoc-preview": {}
  "atom-typing-speedometer":
    showSecond: false
  "autocomplete-plus":
    enableAutoActivation: false
    enableAutoConfirmSingleSuggestion: false
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    telemetryConsent: "no"
  editor:
    fontFamily: "Inconsolata, Symbola"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 8
    tabLength: 4
  "linter-ui-default":
    panelHeight: 69
  welcome:
    showOnStartup: false
