'.platform-win32, .platform-linux':
  'ctrl-shift-R': 'tree-view:reveal-active-file'
  'ctrl-shift-W': 'pane:close'
  'ctrl-shift-S': 'window:save-all'
'.platform-win32 .find-and-replace, .platform-linux .find-and-replace':
  'alt-r': 'find-and-replace:toggle-regex-option'
  'alt-c': 'find-and-replace:toggle-case-option'
'.platform-win32 .project-find, .platform-linux .project-find':
  'alt-r': 'project-find:toggle-regex-option'
  'alt-c': 'project-find:toggle-case-option'
